@import 'fonts.css';
@import 'header.css';
@import 'content.css';

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}
img{
    display: block;
    max-width: 100%;
}

body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

:root{
    --accent-color: #F7654A;
    --dark-color: #404149;
    --gray-color:#999999;
    --white-color: #fff;
    --background-color:#E5E5E5;
 }

.container{
    /* max-width: 1100px; */
     /* max-width: 1301px ;  */

     max-width: 1115px;
  
    margin: 0 auto;
}

/* Стили для текста */

.text-h2{
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}

.text-h3{
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 24px;
}

.text-h4{
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 21px;
}

.text-p{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
}
.text-p-reviews{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

